
header {
    width: 1100px;
    height: 293px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: 1fr;
    align-items: start;
    padding: 0 40px;
}

nav {
    grid-column: 1;
    grid-row: 1;
    margin-top: 133px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

.menu_home {
    text-decoration: none;
}

.menu_lot a,
.menu_about a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
    color: #000;
    transition: opacity 0.3s;
}

.menu_lot a:hover,
.menu_about a:hover {
    opacity: 0.6;
}

.menu_home::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.menu_lot::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.logo {
    grid-column: 2;
    grid-row: 1;
    margin-top: 92px;
    margin-left: 36.5px;
    position: relative;
    width: 148px;
    height: 105px;
}

.logo-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 131px;
    height: 101px;
}

.logo-top {
    position: absolute;
    top: 2px;
    left: 44%;
    transform: translateX(-50%);
    width: 130px;
    height: 104px;
}

address {
    grid-column: 3;
    grid-row: 1;
    margin-top: 95px;
    margin-left: 184px;
    text-align: left;
    font-style: normal;
    font-size: 18px;
    line-height: 1.4;
    color: #000;
    white-space: nowrap;
}